<% for(var i = 0; i < items.length; i++) { %>
    <tr class="table-row">
        <td class="table-data"><%= i + 1 %></td>
        <td class="table-data"><%= items[i].X %></td>
        <td class="table-data"><%= items[i].Brand %></td>
        <td class="table-data"><%= items[i].Name %></td>
        <td class="table-data"><%= items[i].CountryOfOrigin %></td>
        <td class="table-data"><%= items[i].HalalStatus %></td>
        <td class="table-data"><%= items[i].LastDateofCertification %></td>
        <td class="table-data"><%= items[i].LastDateofReview %></td>
    </tr>
    <% } %>


    